* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1f2937;
}

:root {
  --primary-color: #3b82f6;
  --secondary-color: #e5e7eb;
  --primary-color2: rgb(209, 241, 250);
}

main {
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}
h2 {
  font-size: 1.5rem;
  padding: 2rem 1rem;
}
